@import '../../node_modules/modern-normalize/modern-normalize.css';

:root {
    --primary: #b82100;
    --primar-25: #781301;
    --primary-80: #ffb5a5;
    --secondary: #775750;
    --tertiary: #6e5d2e;
    --error: #ba1a1a;
    --white: #fff;
    --black: #000;
    --main-title: 2rem;
}

body {
    font-size: 16px;
}
